* {
    margin: 0;
}

header{
    text-align: center;
    color: aquamarine;
    background-color: black;
}

main{
    background-color: darkgray;
}

.description {
    padding: 30px;
    margin: 10px 0;
    background-color: rgba(224, 224, 224, 0.666);
    text-align: center;
}