* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
    color: aquamarine;
    background-color: black;
    padding: 12px;
}


.description {
    padding: 30px;
}

table{
    width: 80%;
    border-collapse: collapse;
}

table, th, tr, td{
    border: 1px solid black;
    padding: 10px;
}

th{
    text-align: left;
}

.tHeader{
    background-color: aquamarine;
}

.front::after{
    content: "Tags";
}

.back::after{
    content: "Description";
}

.tables{
    display: none;
}

#id{
    display: block;
}