body {
    margin: 0;
    background-color: whitesmoke;
    text-align: center;
}

form {
    width: 300px;
    padding: 20px 12px;
    margin: auto;
    text-align: center;
    background-color: skyblue;
}


.input_box, .button_box {
    /* width: calc(100% - 40px);
    height: 30px; */
    width: 80%;
    padding: 15px;
    margin: auto;
    display: block;
}

.button_box {
    background-color: brown;
    border-color: brown;
    color: white;
}

#year {
    width: 50%;
    padding: 10px;
}